# ignore the following directories

__pycache__/
**/logs/
*.h5
*.txt
*.swp
*.swo
*.dat
chkpt/ 
reload/
results/
**/result 
**/.idea
**/.ipynb_checkpoints
**/wandb/
wandb/
.idea/
.ipynb_checkpoints/
**/tb_log
*.log
**/log/